*{
    padding: 0;
    margin: 0;
}

.LOGO{
    width:120px;
}

h1{
    font-size: 60px;
}
h5 {
    color: black;
}

p{
    color: black;
    text-decoration: solid;

}

.navbar{
    display: flex;
    justify-content: center;
    background-color: azure;
}
.card{
  padding: 10px;
  margin: 10px;
}

h6{
    display: flex;
    justify-content: center;
}

.footer{
    background-color:azure;
}
